:host {
  --navbar-bg: hsl(200, 25%, 80%);
  --navbar-text: hsl(0, 0%, 40%);
  --navbar-hover-link: #000000;
}

:host-context(.dark-mode) {
  --navbar-bg: #000000;
  --navbar-text: hsl(10, 10%, 80%);
  --navbar-hover-link: #ffffff;
}



body {
  padding-bottom: 70px;
}

.navbar {
  background: var(--navbar-bg) !important;
}

.navbar .nav-link,
.navbar .navbar-brand {
  color: var(--navbar-text) !important;
}

.navbar .nav-link:hover,
.navbar .navbar-brand:hover {
  color: var(--navbar-hover-link) !important;
}

.navbar-title:hover {
  text-decoration: underline;
}

.navbar-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
}


.theme-icon {
  width: 22px;
  height: 22px;
  display: block;
}

.theme-toggle-btn {
  padding: 6px 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none ! important;
  background-color: transparent ! important;

}
