body {
  padding-bottom: 70px;
}

.navbar {
  background: var(--navbar-bg) !important;
}

.navbar .nav-link,
.navbar .navbar-brand {
  color: var(--navbar-text) !important;
}

.navbar .nav-link:hover,
.navbar .navbar-brand:hover {
  color: var(--navbar-hover-link) !important;
}

.navbar-title:hover {
  text-decoration: underline;
}

.navbar-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
}


