<div class="container my-5">
  <h2 class="fw-bold mb-4">Education</h2>


  <!--Schools-->
  <div class="container mb-5">
    <h3
      class="fw-bold mb-3 d-flex justify-content-between align-items-center collapse-toggle"
      data-bs-toggle="collapse"
      data-bs-target="#schoolsCollapse"
      style="cursor: pointer;"
    >
      School
      <span class="toggle-icon">▼</span>
    </h3>


    <div id="schoolsCollapse" class="collapse show">
      <div class="education-stack">
        <app-school-card
          *ngFor="let s of schools"
          [name]="s.name"
          [location]="s.location"
          [image]="s.image"
          [program]="s.program"
          [start]="s.start"
          [end]="s.end"
          [skills]="mapIcons(s.skills, 'skills')"
          [languages]="mapIcons(s.languages, 'languages')"
          [sources]="sources">
        </app-school-card>
      </div>
    </div>
  </div>

  <hr class="my-5">

  <!--Certifications-->
  <div class="container mb-5">
    <h3
      class="fw-bold mb-3 d-flex justify-content-between align-items-center collapse-toggle"
      data-bs-toggle="collapse"
      data-bs-target="#certsCollapse"
      style="cursor: pointer;"
    >
      Certification
      <span class="toggle-icon">▼</span>
    </h3>


    <div id="certsCollapse" class="collapse show">
      <div class="certificate-stack">
        <app-certificate-card
          *ngFor="let c of certificates"
          [name]="c.name"
          [certifier]="c.certifier"
          [date]="c.date"
          [description]="c.description"
          [certifier]="c.certifier"
          [skills]="mapIcons(c.skills, 'skills')"
          [languages]="mapIcons(c.languages, 'languages')"
          [pdf]="c.pdf"
          [sources]="sources">
        </app-certificate-card>
      </div>
    </div>
  </div>

  <hr class="my-5">
</div>

