<div class="card h-100">

  <div class="project-image-wrapper">
    <img [src]="image" class="project-image" [alt]="title">
  </div>

  <div class="card-body">
    <h5 class="card-title">
      <a *ngIf="projectLink; else noLink" [href]="projectLink" target="_blank">
        {{ title }}
      </a>
      <ng-template #noLink>{{ title }}</ng-template>
    </h5>

    <p class="card-text">
      <ng-container *ngFor="let part of description">
        <ng-container *ngIf="isString(part)">
          {{ part }}
        </ng-container>

        <ng-container *ngIf="!isString(part)">
          <a [href]="part.url" target="_blank">{{ part.text }}</a>
        </ng-container>
      </ng-container>
    </p>
  </div>
  <div class="card-footer">

      <!-- Skills -->
    <div class="footer-row">
      <strong class="footer-label">Skills:</strong>
      <div class="icon-row">
      <img *ngFor="let skill of skills"
        [src]="skill.icon"
        [alt]="skill.name"
        [title]="skill.name"
        class="skill-icon">
      </div>
    </div>
    <hr class="footer-divider">

    <!-- Languages -->
    <div class="footer-row">
      <strong class="footer-label">Languages:</strong>
      <div class="icon-row">
      <img *ngFor="let lang of languages"
        [src]="lang.icon"
        [alt]="lang.name"
        [title]="lang.name"
        class="skill-icon">
      </div>
    </div>
    <hr class="footer-divider">

    <div class="github-link">
      <a [href]="github" target="_blank">
      <img src="assets/icons/github.svg" alt="GitHub" class="github-icon">
      </a>
    </div>

    <div class="icon-attribution text-muted" *ngIf="getSources().length > 0">
      Icons from
      <ng-container *ngFor="let source of getSources(); let i = index; let last = last">
        <a [href]="source.url" target="_blank">{{ source.name }}</a>
        <span *ngIf="!last">
          <span *ngIf="i < getSources().length - 2">, </span>
          <span *ngIf="i === getSources().length - 2"> and </span>
        </span>
      </ng-container>
    </div>
  </div>
</div>


