.project-image-wrapper {
  height: 120px;
  padding: 12px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.project-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

